html{
  font-size: 62.5%
}

body{
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background: white;
  line-height: 1.6;
}

*{
  box-sizing: border-box;
  color: black;
}

.is-active{
  font-weight: bold;
}

.is-inactive{
  color: pink;
}